export(degrees_to_radians)
export(nearest_points)
export(great_circle_dist)
export(interp_down)
export(print.tusk_nearest_points)
export(print.tusk_supported_sets)
export(supported_sets)
import(ncdf4)
import(raster)
import(rgdal)
